<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LOLLIPOP Time Capsule 帳戶啟用</title>
  </head>

  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
    >
      <tr>
        <td align="left" style="padding: 30px">
          <p>
            您收到這封電子郵件是因為您需要完成 LOLLIPOP Time Capsule
            帳戶啟用程序。
          </p>
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 30px">
          <p>請到以下頁面啟用您的帳戶：</p>
          <p>
            <a href="{{action_url}}">{{action_url}}</a>
          </p>
        </td>
      </tr>
      <tr>
        <td align="center" style="padding: 30px">
          <p>感謝使用 LOLLIPOP Time Capsule！</p>
        </td>
      </tr>
    </table>
    <br />

    <div>
      <p>
        Best regards,
        <br />

        LOLLIPOP Time Capsule
        <br />
        信箱：
        <a href="mailto:admin1@lollipoppool.org">
          admin1@lollipoppool.org
        </a>
        <br />

        <img
          style="display: block; border: 0px;  padding: 4px"
          title="Logo"
          alt="Logo"
          src="https://lollipoppool.org/tc/resources/images/time-capsule-logo.svg"
          width="150"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
