<html lang="ja">
  <head>
    <title>{{service_info.display_name}} パスワードをリセット</title>
  </head>
  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
    >
      <tr>
        <td align="left" style="padding: 30px">
          <p>
            {{service_info.display_name}}
            アカウントのパスワード設定またはリセットを依頼されました。
          </p>
        </td>
      </tr>
      <tr>
        <td align="left" style="padding: 30px">
          <p>以下のページにアクセスしてパスワードをリセットしてください：</p>
          <a href="{{action_url}}">{{action_url}}</a>
        </td>
      </tr>
    </table>
    <div>
      <p>
        よろしくお願いします、
        <br />
        {{service_info.display_name}}
        <br />
        メール：
        <a href="mailto:{{service_info.service_email}}">
          {{service_info.service_email}}
        </a>
        <br />

        <img
          style="display: block; border: 0px; padding: 4px"
          title="Logo"
          alt="Logo"
          src="{{service_info.service_logo}}"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
