<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Capture NFT has been minted and shared on the Capture Explore page!
    </title>
  </head>

  <body>
    <span
      style="
        background-color: rgb(255, 255, 255);
        color: rgb(34, 34, 34);
        font-family: arial, helvetica, sans-serif;
      "
      >Dear creator,</span
    ><br />

    <div>
      <p>
        Your Capture (<a href="{{product.link}}">{{product.nid}}</a>) has been
        listed on the Capture Explore page and shared with all Capture community
        members! It’s ready to be collected!.
      </p>
    </div>

    <br />

    <div>
      <p>
        Best regards,
        <br />

        {{service_info.display_name}}
        <br />

        <img
          style="display: block; border: 0px; max-width: 50px; padding: 4px"
          title="Logo"
          alt="Logo"
          src="{{service_info.service_logo}}"
          width="50"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
