<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Capture NFT 已鑄造完畢並分享於 Capture Explore 頁面！</title>
  </head>

  <body>
    <span
      style="
        background-color: rgb(255, 255, 255);
        color: rgb(34, 34, 34);
        font-family: arial, helvetica, sans-serif;
      "
      >親愛的創作者，</span
    ><br />

    <div>
      <p>
        您的 Capture (<a href="{{product.link}}">{{product.nid}}</a>) 已上架到
        Capture Explore 頁面並分享給所有的 Capture 社群成員！準備好被收藏了！
      </p>
    </div>

    <br />

    <div>
      <p>
        敬祝 平安順心
        <br />

        {{service_info.display_name}}敬上
        <br />

        <img
          style="display: block; border: 0px; max-width: 50px; padding: 4px"
          title="Logo"
          src="{{service_info.service_logo}}"
          alt=""
          width="50"
          height="50"
        />
      </p>
    </div>

    <img
      src="http://mailman.numbersprotocol.io/wf/open?upn=u001.HeftvF14cSotjid365zfecDiVnzTWkdXu7DaahjGTxqAckyFKnY9L9SwrVVegumYpn4FfkedkCNNc4PYJhZB-2FTCQ7dqTW6VGkos-2BLBWVuR7Tx0YbyLAYXjxft9CCfr2O-2FWQduxuX-2F0wTbYI7pek-2FwdowB7-2BslQlwJNCBnBTX6TDkppWzFDFFsIHOh-2FcIOIq5xgRF0n1iNscS-2BUwFUzbTpxXCnrbiGDLptVzpW-2FQqpC0-3D"
      alt=""
      width="1"
      height="1"
      border="0"
      style="
        height: 1px !important;
        width: 1px !important;
        border-width: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
      "
    />
  </body>
</html>
