<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Time Capsule NFT has been minted!
    </title>
  </head>

  <body>
    <span
      style="
        background-color: rgb(255, 255, 255);
        color: rgb(34, 34, 34);
        font-family: arial, helvetica, sans-serif;
      "
      >Dear creator,</span
    ><br />

    <div>
      <p>
        Your Time Capsule ({{product.nid}}) has been
        minted ! It’s ready to be collected!.
      </p>
    </div>

    <br />

    <div>
      <p>
        Best regards,
        <br />

        LOLLIPOP Time Capsule
        <br />

        <img
          style="display: block; border: 0px;  padding: 4px"
          title="Logo"
          alt="Logo"
          src="https://lollipoppool.org/tc/resources/images/time-capsule-logo.svg"
          width="150"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
