<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Time Capsule NFT 已鑄造完畢！</title>
  </head>

  <body>
    <span
      style="
        background-color: rgb(255, 255, 255);
        color: rgb(34, 34, 34);
        font-family: arial, helvetica, sans-serif;
      "
      >親愛的創作者，</span
    ><br />

    <div>
      <p>
        您的 Time Capsule (<a href="{{product.link}}">{{product.nid}}</a>) 已鑄造完畢
        並可以分享給其他成員！準備好被收藏了！
      </p>
    </div>

    <br />

    <div>
      <p>
        敬祝 平安順心
        <br />

        LOLLIPOP Time Capsule敬上
        <br />

        <img
          style="display: block; border: 0px;  padding: 4px"
          title="Logo"
          alt="Logo"
          src="https://lollipoppool.org/tc/resources/images/time-capsule-logo.svg"
          width="150"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
