<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Your LOLLIPOP Time Capsule password has been successfully changed!
    </title>
  </head>

  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
    >
      <tr>
        <td align="left" style="padding: 30px">
          <p>Your password has been changed!</p>
          <p>No further action is needed if the password is changed by you.</p>
        </td>
      </tr>
      <tr>
        <td align="left" style="padding: 30px">
          <p>
            If you did not change your password recently, please contact us
            immediately for your account security.
          </p>
        </td>
      </tr>
    </table>
    <br />

    <div>
      <p>
        Best regards,
        <br />

        LOLLIPOP Time Capsule
        <br />
        Email:
        <a href="mailto:admin1@lollipoppool.org">
          admin1@lollipoppool.org
        </a>
        <br />

        <img
          style="display: block; border: 0px;  padding: 4px"
          title="Logo"
          alt="Logo"
          src="https://lollipoppool.org/tc/resources/images/time-capsule-logo.svg"
          width="150"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
