<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      LOLLIPOP Time Capsule アカウントのパスワードはリセットされました。
    </title>
  </head>

  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
    >
      <tr>
        <td align="left" style="padding: 30px">
          <p>パスワードは正常にリセットされました。</p>
          <p>これがご本人の処理の場合は、これ以上の操作は必要ありません。</p>
        </td>
      </tr>
      <tr>
        <td align="left" style="padding: 30px">
          <p>
            これがご本人の処理でない場合は、アカウントの安全のために直ちにご連絡ください。
          </p>
        </td>
      </tr>
    </table>
    <br />

    <div>
      <p>
        よろしくお願いします、
        <br />

        LOLLIPOP Time Capsule
        <br />
        メール：
        <a href="mailto:admin1@lollipoppool.org">
          admin1@lollipoppool.org
        </a>
        <br />

        <img
          style="display: block; border: 0px;  padding: 4px"
          title="Logo"
          alt="Logo"
          src="https://lollipoppool.org/tc/resources/images/time-capsule-logo.svg"
          width="150"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
