<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>您的 LOLLIPOP Time Capsule 密碼更改成功！</title>
  </head>

  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
    >
      <tr>
        <td align="left" style="padding: 30px">
          <p>您的密碼已被變更！</p>
          <p>如果是您本人變更了密碼，則無需進一步操作。</p>
        </td>
      </tr>
      <tr>
        <td align="left" style="padding: 30px">
          <p>如果您最近沒有更改密碼，請立即聯繫我們以確保您的帳戶安全。</p>
        </td>
      </tr>
    </table>
    <br />

    <div>
      <p>
        Best regards,
        <br />

        LOLLIPOP Time Capsule
        <br />
        Email:
        <a href="mailto:admin1@lollipoppool.org">
          admin1@lollipoppool.org
        </a>
        <br />

        <img
          style="display: block; border: 0px;  padding: 4px"
          title="Logo"
          alt="Logo"
          src="https://lollipoppool.org/tc/resources/images/time-capsule-logo.svg"
          width="150"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
