<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Capture License Confirmation - Your Digital Asset is Ready</title>
  </head>

  <body>
    <span>Hello,</span><br />

    <div>
      <p>
        Thank you for joining us in building a better digital future through
        Capture. Your NFT purchase has been confirmed. Below are the details of
        your order:
      </p>

      <p>📋 <strong>Order Details</strong></p>
      <div><strong>Order Number: </strong>{{order.id}}</div>
      <div><strong>Order Date: </strong>{{order.date}}</div>
      <div><strong>Payment Amount: </strong>{{order.payment_amount}}</div>
      <div><strong>Payment Method: </strong>{{order.payment_method}}</div>
      <div><strong>Contact Email: </strong>{{service_info.service_email}}</div>
      <br />

      <p>📄 <strong>Purchased Assets</strong></p>
      <ol>
        <li>
          <strong>Asset Nid: </strong>
          {{order.nid}}
        </li>
        <li>
          <strong>NFT Network: </strong
          ><a href="{{order.nft_network_link}}">{{order.nft_network}}</a>
        </li>
        <li>
          <strong>NFT Token ID: </strong
          ><a href="{{order.nft_token_link}}">{{order.nft_token_id}}</a>
        </li>
      </ol>

      <p>📥 <strong>Download Instructions</strong></p>

      <p>
        Once the NFT minting and transfer are complete, you will be able to
        download your purchased NFT from this
        <a href="{{order.nft_download_link}}">link</a>
        within 24 hours. Each NFT includes its own specific license terms.
        <a href="{{order.nft_page_link}}">View Asset</a> |
        Please visit the Capture page of your NFT to review the attached license.
      </p>

      <p>
        You can also view your assets on <a href="https://dashboard.captureapp.xyz/">Capture Dashboard</a> or visit the <a href="https://asset.captureapp.xyz/{{order.nid}}">asset page</a> directly.
      </p>

      <p>
        If you have any questions or need assistance, please don't hesitate to
        contact our support team at
        <a href="mailto:{{service_info.service_email}}"
          >{{service_info.service_email}}</a
        >.
      </p>
    </div>

    <div>
      <p>
        Best regards,
        <br />

        {{service_info.display_name}}
        <br />

        <img
          style="display: block; border: 0px; padding: 4px"
          title="Logo"
          alt="Logo"
          src="{{service_info.service_logo}}"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
