<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to the Future of Asset Collection with Capture!</title>
  </head>

  <body>
    <span>Dear user,</span><br />

    <div>
      <p>Thank you for choosing Capture 🚀</p>

      <p>
        Your newly collected asset with it’s NFT (Non-Fungible Token) is now
        available to be viewed in your Capture Vault.
      </p>

      <p><strong>What's Next? 🌟</strong></p>

      <ol>
        <li>
          <strong>Access Your Asset: </strong>Sign in to your
          <a href="{{dashboard_link}}">Capture Dashboard</a>
          or download the
          <a href="{{cam_link}}">Capture Cam App</a>
          to view your asset in the account. If this is your first time using
          Capture, please click on the <strong>"Reset Password"</strong> button
          to set up your password before signing in.
        </li>
        <li>
          <strong>Explore Your Asset's License: </strong>Each asset comes with
          its own specific license terms. Visit the
          <a href="{{asset.link}}">Capture page</a>
          of your asset to review the license attached to it. This will provide
          you with important information about your rights and usage
          permissions.
        </li>
        <li>
          <strong>Share with Your Network: </strong>Excited about your newly
          collected asset? Share it on social media using the share button or
          share this
          <a href="{{asset.link}}">link</a>
          directly. Let your friends and followers see the unique digital
          collectibles you're adding to your collection!
        </li>
      </ol>

      <p>
        Your enthusiasm for supporting creators fuels us and the entire
        community 🌍. We're thrilled that you're enjoying the collecting
        process, and we deeply appreciate your support.
      </p>

      <p>
        If you have any questions or need assistance, please don't hesitate to
        contact our support team at
        <a href="mailto:{{service_info.service_email}}"
          >{{service_info.service_email</a
        >.
      </p>
    </div>

    <div>
      <p>
        Best regards,
        <br />

        {{service_info.display_name}}
        <br />

        <img
          style="display: block; border: 0px; max-width: 50px; padding: 4px"
          title="Logo"
          alt="Logo"
          src="{{service_info.service_logo}}"
          width="50"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
