<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>歡迎來到資產收集的未來世界，與 Capture 一同前行！</title>
  </head>

  <body>
    <span>親愛的用戶您好，</span><br />

    <div>
      <p>感謝您選擇使用 Capture 🚀！</p>

      <p>
        您最新收藏的數位資產以及 NFT 已經可以在您的 Capture Vault 裡面查看囉！
      </p>

      <p><strong>🌟接下來該怎麼做？</strong></p>

      <ol>
        <li>
          <strong>查看您的資產：</strong>請登入
          <a href="{{dashboard_link}}">Capture Dashboard</a>
          ，或是下載
          <a href="{{cam_link}}">Capture Cam App</a>
          來查看您的數位資產。如果這是您第一次使用
          Capture，請點選<strong>「重設密碼」</strong>按鈕來設定密碼，再使用密碼登入。
        </li>
        <li>
          <strong>了解資產授權條款：</strong
          >每個數位資產都有專屬的授權條款。建議您前往
          <a href="{{asset.link}}">Capture 資產頁面</a
          >查看相關授權內容，裡面有您的使用權限等重要資訊。
        </li>
        <li>
          <strong>分享給親朋好友：</strong>想分享您的新 NFT
          收藏嗎？快用分享按鈕或直接分享<a href="{{asset.link}}">連結</a
          >，讓您的朋友們看看您最新的獨特數位藏品吧！
        </li>
      </ol>

      <p>
        您對創作者的支持是我們和整個社群前進的動力，希望您享受收藏藝術創作的過程，也由衷感謝您的支持！
      </p>

      <p>
        如果您有任何問題或需要協助，歡迎隨時寄信到
        <a href="mailto:{{service_info.service_email}}"
          >{{service_info.service_email}}</a
        >與我們的客服團隊聯繫。
      </p>
    </div>

    <div>
      <p>
        敬祝 平安順心
        <br />

        {{service_info.display_name}} 團隊敬上
        <br />

        <img
          style="display: block; border: 0px; max-width: 50px; padding: 4px"
          title="Logo"
          alt="Logo"
          src="{{service_info.service_logo}}"
          width="50"
          height="50"
        />
      </p>
    </div>
  </body>
</html>
